.topnav {
    background-color: gray;
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    width: 100%;  
}

.footer {
    position: fixed;
    width: 100%;
    color: white;
    background-color: gray;
    font-size: 2em;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    left: 0;
    bottom: 0;
}